<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Insta-Like-LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link"  routerLink="/allposts" routerLinkActive="active">All Posts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link"  routerLink="/following" routerLinkActive="active">Following <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link"  routerLink="/favorites" routerLinkActive="active">Favorites <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link"  routerLink="/myposts" routerLinkActive="active">My Posts <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Benutzer Login Komponenten</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a routerLinkActive="active" class="dropdown-item" routerLink="/register">Register</a>
          <a routerLinkActive="active" class="dropdown-item" routerLink="/login">Login</a>
          <a routerLinkActive="active" class="dropdown-item" routerLink="/profile" *ngIf="isLoggedIn">Profil</a>
          <a routerLinkActive="active" class="dropdown-item" href="#" (click)="logout()" *ngIf="isLoggedIn">Logout</a>
        </div>
      </li>
    </ul>


  </div>
</nav>
